#tin-tuc::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: -2px;
  opacity: 0;
  background: #c6bcff;
  transition: 0.3s;
}
#tin-tuc:hover::after {
  width: 100%;
  opacity: 1;
}
#lich-chieu::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: -2px;
  opacity: 0;
  background: #c6bcff;
  transition: 0.3s;
}
#lich-chieu:hover::after {
  width: 100%;
  opacity: 1;
}
#phim::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: -2px;
  opacity: 0;
  background: #c6bcff;
  transition: 0.3s;
}
#phim:hover::after {
  width: 100%;
  opacity: 1;
}
