#carousel_homepage .ant-carousel .slick-dots li button {
  background-color: gray;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#carousel_homepage .ant-carousel .slick-dots li.slick-active button {
  background: red;
  opacity: 1;
  transform: scale3d(1.5, 1.5, 1.5);
  border-radius: 50%;
}
#carousel_homepage .ant-carousel .slick-dots li button:hover {
  background-color: black;
}
/* #bg-movietabs {
  background-image: url(../../../public/img/back-news.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100px;
  width: 75%;
  margin-top: 30px;
} */

.ant-carousel .slick-dots li button {
  background-color: gray;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.ant-carousel .slick-dots li button:hover {
  background-color: black;
}
.ant-carousel .slick-dots li.slick-active button {
  background: #706897;
  opacity: 1;
  transform: scale3d(1.5, 1.5, 1.5);
  border-radius: 50%;
}
.detail-btn {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 17rem;
  transition: all 0.3s;
  opacity: 0;
  z-index: 55;
}
.overlay:hover {
  opacity: 1;
}
@media only screen and (min-width: 640px) {
  .overlay {
    height: 25rem;
  }
}
@media only screen and (min-width: 768px) {
  .overlay {
    height: 28rem;
  }
}
@media only screen and (min-width: 1024px) {
  .overlay {
    height: 28rem;
  }
}
@media only screen and (min-width: 1280px) {
  .overlay {
    height: 28rem;
  }
}
@media only screen and (min-width: 1536px) {
  .overlay {
    height: 28rem;
    width: 100%;
  }
}
